{% extends "layout.html" %}

{% block title %}Graphs!!!{% endblock %}

{% block body %}
<div class="grid grid-cols-1 gap-10">
  <div>
    <input type="text" class="input" v-model="ticker" v-on:keyup.enter="searchTicker">
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Symbol</th>
          <th>Company Name</th>
          <th>Type</th>
          <th>Exchange</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="ticker in tickers">
          <td>
            <a href="#" @click.prevent="selectStock(ticker.symbol)" v-text="ticker.symbol"></a>
          </td>
          <td><span v-text="ticker.name"></span></td>
          <td><span v-text="ticker.typeDisp"></span></td>
          <td><span v-text="ticker.exchDisp"></span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr>
  <form @submit.prevent="selectStock(options.tickers)">
    <div class="field">
      <div class="columns">
        <div class="column">
          <label class="label">Ticker</label>
          <input type="text" class="input" v-model="options.tickers">
        </div>
        <div class="column">
          <label class="label">Short Window</label>
          <input type="text" class="input" v-model="options.short">
        </div>
        <div class="column">
          <label class="label">Long Window</label>
          <input type="text" class="input" v-model="options.long">
        </div>
        <div class="column">
          <label class="label">Time Scale</label>
          <select class="select" v-model="options.timeframe">
            <option value="1m">1 Minute</option>
            <option value="2m">2 Minutes</option>
            <option value="5m">5 Minutes</option>
            <option value="15m">15 Minutes</option>
            <option value="30m">30 Minutes</option>
            <option value="60m">60 Minutes</option>
            <option value="90m">90 Minutes</option>
            <option value="1d">1 Day</option>
          </select>
        </div>
        <div class="column">
          <label>Rolling Average <input type="radio" v-model="options.movingAverage" value="SMA"></label>
          <br>
          <label>Weighted Average <input type="radio" v-model="options.movingAverage" value="EWM"></label>
          <br>
          <label>Relative Strength<input type="radio" v-model="options.movingAverage" value="RSI"></label>
        </div>
        <div class="column">
          <input class="button is-primary" type="submit" value="Update">
        </div>
      </div>
    </div>
  </form>
  <div id="graph1"></div>
</div>
{% endblock %}

{% block style %}
<style>
  #graph1 {
    margin: 0px;
    padding: 0px;
    height: 600px;
    width: 100%;
  }

  details {
    display: none
  }
</style>
{% endblock %}
